html{
    margin: 0;
    padding: 0;
    background-image:url(SigBack3.png);
    background-size: 100% 100%; 
    border-radius 10px;
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main{ 
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px solid grey
    border-radius: 10px;
    background-color: rgba(0,0,20,.0);
    box-sizing: border-box;    
}

header{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

h1{
    text-align: center;
    font-family: sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    color:  rgba(124, 100, 50.4);
 }

h2{
    text-align: center;
    font-family: monospace;
    margin-top: 0px;
    color: rgba(140, 100, 50.9);    
}
h1, h2{
    animation-name: bounce;
    animation-duration: 1s;
}
@keyframes bounce{
    0%{
        opacity: 0;
        transform: translateY(-200%);
    }
    40%{
        opacity: .3;
        transform: translateY(0);
    }
    55%{
        opacity: .5;
        transform: translateY(-6px);
    }
    70%{
        opacity:.7;
        transform: translateY(0);
    }
    85%{
        opacity: .9;
        transform: translateY(-3px);
    }
    100%{
        opacity: 1;
        transform:translateY(0)
    }

}

/*Navigation*/


.nav{
    width: 100%;
    position: absolute;
    bottom: 20px;
    text-align:  center;
}
.nav li{
    list-style: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
    
.nav ul{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav a{
    text-decoration: none;
    color: black;
    display: inline-block; 
    padding: 3px 10px;
    border-radius: 5px;
    background-color:rgba(114, 100, 50.4);
    box-shadow: 2px 2px 8px maroon;
}
.nav a:hover{
    background-color:rgba(134, 100, 50.4);
}

.media{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align:  center;
}

.media ul{
    
    
}
.media li{
    list-style: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1px;
    padding-left: 1px;
}

.media a{
    text-decoration: none;
    color: rgba(144, 100, 50.2);
    display: inline-block; 
    font-family: monospace;
    padding-right: 2px;
    padding-left: 2px;
    border-radius: 3px;
}
.media a:hover{
    background-color:rgba(191, 165, 63, 0.3)
}

/*End Navigation*/
.group:after {
  content: "";
  display: table;
  clear: both;
}
